# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName sportsystemsonline.com
AuthUserFile /home/sportsys/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/sportsys/public_html/_vti_pvt/service.grp
